.avatar {
    @apply object-fill h-10 w-10;
    @apply rounded-full;
}

.avatar:hover {
    cursor: pointer;
}

.profileMenu {
    @apply rounded border border-gray-300;
    background-color: white;
    position: absolute;
    left: -10.75em;
    top: 3.10em;
    cursor: pointer;
}

.profile {
    position: relative;
}

.profileMenu li {
    width: 100%;
    @apply inline-flex items-center;
}

.profileMenu li:hover {
    background-color: #F0FAfC;
    @apply text-slate-950;
}

.profileMenu span {
    @apply text-slate-500 font-medium;
}