@tailwind base;
@tailwind components;
@tailwind utilities;

.navContainer {
    @apply flex justify-between; 
    @apply border-solid;
    background-color: white;
}

.avatar {
    @apply object-fill h-10 w-10;
    @apply rounded-full;
}

.avatar:hover {
    cursor: pointer;
}

.list li {
    @apply font-medium;
    @apply inline-block align-middle;
    padding: 0.5em 1.00em;
}

.logo {
    @apply object-fill h-10 w-10;
    @apply rounded-full;
}

.selected {
    color: #FD3D08;
}