@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-container-style {
    @apply flex justify-between; 
    @apply border-solid;
    background-color: white;
}

.profile-picture-style {
    @apply object-fill h-10 w-10;
    @apply rounded-full;
}

.profile-picture-style:hover {
    cursor: pointer;
}

.list-style li {
    @apply inline-block align-middle;
    padding: 0.5em 1.00em;
}

.logo-style {
    @apply object-fill h-10 w-10;
    @apply rounded-full;
}

.navbar-text {
    @apply font-medium;
}

.selected-tab {
    color: #FD3D08;
}

.profile-menu {
    @apply rounded border border-gray-300;
    background-color: white;
    display: none;
    position: absolute;
    left: -8.75em;
    top: 3.10em;
    cursor: pointer;
}

.profile {
    position: relative;
}

.profile:hover .profile-menu {
    display: block;
}

.profile-menu li {
    width: 100%;
    @apply inline-flex items-center;
}

.profile-menu li:hover {
    background-color: #F0FAfC;
    @apply text-slate-950;
}

.profile-menu span {
    @apply text-slate-500 font-medium;
}